.mydonations{
    @include navbarMargin;

    .mydonations-top {
        @include flexCenterCenter;
        height: 429px;
        width: 100%;
        background-size: cover;
        background-image: url('../assets/my_tickets.png');

        @include mobile{
            background-image: url('../assets/my_tickets_mobile.png');
        }

        h1{
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 95px;
            color: white;
        }
    }

    .mydonations-bottom{
        padding: 20px 15px 20px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        &-list {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 25px;

            &-wrapper{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 15px;
            }
        }

        .mydonations-bottom-total {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;

            .total-amount {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .discount-info {
                font-size: 16px;
                color: #888;

                &.has-discount {
                    color: #f00;
                }
            }
        }

    }
}
