.services_page{
    @include navbarMargin;
    background-color: $greyBg;
    min-height: 600px;

    display: flex;
    align-items: center;
    flex-direction: column;


    .services_page-list {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}
