
.userpage {
    @include navbarMargin;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

.userpage-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.user-info {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.user-info-item {
    margin-bottom: 10px;
    color: #666;
}

.edit-button,
.delete-button,
.restore-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.edit-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
}

.restore-button {
  background-color: #008CBA; /* Blue */
  color: white;
}

/* Add a hover effect for buttons */
.edit-button:hover,
.delete-button:hover,
.restore-button:hover {
  opacity: 0.8;
}

.transactions-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.transaction-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

