.users{
    @include navbarMargin;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: $greyBg;
    min-height: 800px;
    padding: 35px 0 35px 0;

    .users-list{
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}
