.navbar-user-popup{
    position: absolute;
    background-color: white;
    min-width: 180px;
    padding: 10px 10px 10px 10px;
    top: 39px;
    left: -75px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0px 19px 35px 0px rgba(0, 0, 0, 0.486);
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.01em;

    span{
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        line-height: 23px;
        letter-spacing: -0.01em;
        text-align: left;
        color: $fadedOrange;
    }

    button{
        color: black;
        background-color: transparent;
        text-align: left;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        gap: 5px;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 23px;
        text-align: center;
        letter-spacing: -0.01em;

        &:hover{
            //TODO
            color: $fadedOrange;
        }
    }
}
