.checkout{
    @include navbarMargin;
    @include flexCenterCenter;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;

    .checkout-title{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 47px;
    }

    .checkout-wrapper{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 30px 0 30px;

        .checkout-buying{
            display: flex;
            gap: 100px;

            @include tablet{
                flex-direction: column;
                align-items: center;
                gap: 40px;
            }

            .checkout-buying-left{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 60px;
                width: 65%;
                max-width: 600px;

                @include tablet{
                    width: 100%;
                }

                .checkout-buying-left-title{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                }

                .checkout-buying-left-payment{
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .buying-left-payment-options{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        width: 100%;

                        @include mobile{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 10px;
                        }

                        .left-payment-options-payment{
                            cursor: pointer;
                            justify-self: center;

                            img{
                                border: 2px solid transparent;
                                border-radius: 5px;
                            }

                            &:hover{
                                img{
                                    border: 2px solid gold;
                                }
                            }

                            &.--active{
                                img{
                                    border: 2px solid gold ;
                                }
                            }
                        }
                    }

                    .buying-left-payment-desc{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }

                .checkout-buying-left-info{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    text-align: center;
                }

                .checkout-buying-left-checkboxes{
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: flex-start;
                    gap: 5px;

                    span{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                    }
                }

                .checkout-buying-left-required{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;

                    /* identical to box height */
                    text-align: center;
                }
            }

            .checkout-buying-right{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 326px;
                padding-top: 10%;
                padding-bottom: 10%;

                @include tablet{
                    width: 80%;
                }

                @include mobile{
                    width: 100%;
                }
            }
        }
    }
}
