.normal{
    @include navbarMargin;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
    color: #5d5d5d;
    min-height: 800px;

    .normal-title{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        line-height: 47px;
        color: black;
    }

    .normal-wrapper{
        margin-top: 40px;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include tablet{
            width: 90%;
        }

        .normal-buying{
            display: flex;

            @include tablet{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }
        }

        .normal-select{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: $margin-medium;
            width: 65%;

            @include tablet{
                width: 90%;
            }

            .normal-select-title{
                font-size: $font-18;

                @include mobile{
                    font-size: $font-15;
                }
            }

            @include tablet{
                width: 90%;
            }

            .normal-select-date{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 80%;
            }

            .normal-select-tickets-wrapper{
                width: 80%;

                @include tablet{
                    width: 100%;
                }


                .normal-select-tickets{
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .normal-select-label{
                border-bottom: 1px solid $fontgrey;
                font-size: $font-24;
                letter-spacing: 2px;
            }
        }
    }

    .normal_tickets-cart{
        display: flex;
        width: 350px;
        justify-content: center;

        @include tablet{
            width: 80%;
            margin-bottom: 70px;
            min-height: 500px;
        }
    }

    .--nt{
        margin-top: 40px;
        @include flexCenterCenter;

        &:hover{
            button{
                font-size: 15px;
            }
        }
    }
}

.react-datepicker__input-container{

    input{
        width: 300px;
        padding-left: 10px;
        font-family: inherit;
        height: 50px;
        border: 1px solid $border;

        outline: none;
    }
}

