$purple: #8468f7;
$heliotrope: #9277ff;
$mirage: #1e2139;
$ebony: #252945;
$selago: #dfe3fa;
$baliHai: #888eb0;
$shipCove: #7e88c3;
$vulcan: #0c0e16;
$burntSienna: #ec5757;
$monaLisa: #ff9797;
$whisper: #f8f8fb;
$offWhite: #f9fafe;
$mirage2: #141625;
$darkAccent: #494e6e;
$orange: #ff8f00;
$otherDark: #373b53;
$blueGreen: #024e4e;


$success: rgb(50, 124, 7);
$element: #2b2c37;
$bgDark: #20212c;
$error: #ea5555;
$error-hover: #9D4549;
$button-hover: #A8A4FF;
$fontgrey: #828fa3;
$border: #3b3c4b;
$darkElement: #202325;

//color palette
$darkerBlue: rgb(28, 50, 69);
$darkBlue: rgb(5, 56, 107);
$middleGreen: #5CDB95;
$lightGreen: #8EE4AF;
$tonedWhite: #EDF5E1;


$middleOrange: #e6b640;
$fadedOrange: #C79E38;
$button: #B8860B;
$green: #40672C;
$darkGreen: #31572C;
