._formInput{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid $darkGreen;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    font-family: inherit;
    transition: all 0.3s ease;

    &:hover, &:focus{
        border: 2px solid $lightGreen;
    }
}

._formInput.--error{
    border: 2px solid $error;
}

._inputError{
    position: absolute;
    top: 43px;
    left: 252px;
    color: $error;

    @media (max-width: 390px){
        left: 168px;
    }
}

._confirmButton{
    transition: all 200ms ease;
    background-color: $middleGreen;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
    font-size: $font-15;
    font-family: inherit;
    cursor: pointer;

    &:hover{
        background-color: $darkGreen;
    }
}

._link{
    text-decoration: underline;
    color: $darkGreen;
}

.four04{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: $font-30;
}
