@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*, *:before, *:after{
    box-sizing: border-box;
    }

*{
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

button{
    font-family: inherit;
    cursor: pointer;
}

