.our_mission{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 30px 30px 30px;

    .our_mission-wrapper{
        height: 600px;
        padding: 30px 30px 30px 30px;
        border: 5px solid $button;
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1500px;
        gap: 10px;

        @include tablet{
            height: fit-content;
        }

        @include tablet{
            flex-direction: column;
            justify-content: flex-start;
        }

        .our_mission-image{
            width: 50%;

            @include tablet{
                display: none;
                width: 0%;
                height: 0%;
            }
        }

        .our_mission-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            height: 100%;
            position: relative;

            @include tablet{
                width: 90%;
            }

            .our_mission-content-title{
                font-family: 'Playfair Display';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 43px;
                margin-bottom: 15px;
            }

            .our_mission-content-text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 23px;
                width: 80%;
                padding-bottom: 20px;

                @media(max-width: 1261px ){
                    font-size: 17px;
                }


                @include tablet{
                    font-size: 18px;
                    width: 100%;
                }

                span{
                    margin-top: 10px;
                }

                .expand-button{
                    background-color: transparent;
                    border: 1px solid transparent;
                    text-decoration: underline;
                    font-size: 15px;
                }
            }

            .our_mission-content-button{
                position: absolute;
                bottom: -3%;
                right: -1%;

                width: 150px;
                height: 40px;

                @include mobile{
                    position:relative;
                }
            }
        }
    }
}
