.welcome{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $margin-large;
    background-color: $fadedOrange;
    color: white;
    height: 200px;

    .welcome-item-wrapper{
        margin-top: 50px;
        position: relative;
        width: min(700px, 100vw);
    }
    .welcome-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0%;
        width: 100%;
        opacity: 0;
        transition: opacity 0.8s;
        width: min(700px, 100vw);
        padding: 0 10% 0 10%;
        text-align: center;

        &.active {
            opacity: 1;
        }

        &.entering {
            animation: fadeOut 0.5s;
        }

        .welcome-title{
            font-size: 32px;
        }

        .welcome-desc{
            font-size: 20px;
        }
    }

}

@keyframes fadeOut {
    from {
    opacity: 1;
    }

    to {
    opacity: 0;
    }
}
