.burger-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36px;
    height: 24px;
    cursor: pointer;
    position: relative;

    span {
      background-color: #000;
      height: 4px;
      width: 100%;
      transition: all 0.3s ease;

      &:nth-child(1),
      &:nth-child(3) {
        transform-origin: center;
      }
    }

    &.active {
      span {
        background-color: $fadedOrange;

        &:nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
