.change-user_data-popup{
    display: flex;
    flex-direction: column;
    align-items: center;

    .change-user_data-popup-delete_warn{
        color: $error;
        text-align: center;
    }

}

.button-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;

    button{
        background-color: transparent;
        border: 1px solid transparent;
        width: 100px;
        height: 35px;
        border-radius: 10px;
        color:white;
    }

    .delete-cancel-button{
        background-color: rgb(156, 156, 156);

        &:hover{
            background-color: darken(rgb(197, 197, 197), 10%);
        }
    }

    .delete-confirm-button{
        background-color: $error;

        &:hover{
            background-color: darken($error, 10%);
        }
    }
}

