.donation{
    border: 2px solid $darkGreen;
    max-width: 660px;

    .donation-top_text{
        min-height: 76px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        /* or 167% */
        text-align: center;
        background-color: $darkGreen;
        color: white;
        @include flexCenterCenter;
        padding: 0px 11% 0px 11%;
    }

    .donation-form{
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin: 0px 15px 0 15px;

        .donation-form-amount{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            .donation-form-amount-title{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 20px;
            }

            .donation-form-amount-buttons{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px;

                button{
                    background-color: $darkGreen;
                    color: white;
                    border: 1px solid transparent;
                    @include flexCenterCenter;
                    width: 52px;
                    height: 32px;
                    border-radius: 5px;

                    justify-self: center;
                }

                input{
                    height: 32px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid black;
                    padding-left: 10px;

                    grid-column: 2;
                    grid-row: 3;
                }
            }

            hr{
                width: 80%;
            }
        }

        .donation-form-rest{
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 25px;
            max-width: 463px;

            @include mobile{
                padding: 0 30px 0 30px;
            }

            .donation-input{
                height: 30px;
                border-radius: 10px;
                border: 1px solid black;
                padding-left: 10px;
            }


            .donation-form-rest-double{
                width: 100%;
                display: flex;
                gap: 60px;

                input{
                    width: 100%;
                }
            }

            .donation-form-rest-basic{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 25px;
                input{
                    width: 100%;
                }
            }

            .donation-form-rest-triple{
                width: 100%;
                display: flex;
                gap: 25px;
                input{
                    width: 100%;
                }
            }
        }

        .donation-button-label{
            width: 140px;
            height: 40px;
            margin-top: 30px;
            margin-bottom: 30px;


            &:hover{
                button{
                width: 130px;
                height: 35px;
                }
            }

            button{
                background-color: $fadedOrange;
                color: white;
                width: 140px;
                height: 40px;
                border: 1px solid transparent;
                border-radius: 10px;
                transition: all 0.4s ease-in;
            }
        }
    }
}
