.donation{
    border: 2px solid $darkGreen;
    max-width: 660px;

    .donation-top_text{
        min-height: 76px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        /* or 167% */
        text-align: center;
        background-color: $darkGreen;
        color: white;
        @include flexCenterCenter;
        padding: 0px 11% 0px 11%;
    }

    .donation-form{

        .donation-form-amount{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            .donation-form-amount-title{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 20px;
            }

            .donation-form-amount-buttons{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                @include tablet{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 10px;
                }

                button{
                    background-color: $darkGreen;
                    color: white;
                    border: 1px solid transparent;
                    @include flexCenterCenter;
                    width: 52px;
                    height: 32px;
                    border-radius: 5px;

                    @include tablet{
                        justify-self: center;
                    }
                }

                input{
                    height: 32px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid black;
                    padding-left: 10px;

                    @include tablet{
                        grid-column: 2;
                        grid-row: 3;
                    }
                }
            }

            hr{
                width: 80%;
            }
        }

        .donation-form-rest{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;

            .donation-form-rest-double{
                display: flex;
            }

            .donation-form-rest-basic{
                display: flex;
                flex-direction: column;
            }

            .donation-form-rest-triple{
                display: flex;
            }
        }
    }
}
