.slideshow{
        margin-top: 100px;
        display: flex;
        height: 450px;
        background-position: center;
        background-size:cover;
        transition: all 0.5 ease;

        .slideshow-gradientwrapper{
            height: 100%;
            width: 100%;

            background-color: rgba(89, 131, 252, 0.25);
            background-image: linear-gradient(269deg, rgba(89, 131, 252, 0.25) 0%, rgba(0, 0, 0, 0.25) 96%);

            .slideshow-content{
                margin-left: 10%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 40px;
                width: 40%;

                @include tablet{
                    width: 55%;
                }

                @include mobile{
                    width: 75%;
                }

                .slideshow-content-text{
                    color: $whisper;
                    font-size: max(1.8vw, 18px);
                    font-weight: bold;
                    text-align: center;
                }

                .slideshow-content-button{
                }
            }
        }
}
